
@use '@angular/material' as mat;
@use "./styles/themes/theme-colors";
@use "./styles/theme-typography.scss" as m3-theme-typography;

@include mat.core();
//@import '@angular/material/prebuilt-themes/purple-green.css';
//@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
//@import '@angular/material/prebuilt-themes/indigo-pink.css';

$angular-material-3-theme-dark: mat.define-theme(
  (
    color: (
      theme-type: dark,
      primary: theme-colors.$primary-palette,
      tertiary: theme-colors.$tertiary-palette,
    ),
    typography: (
      plain-family: Roboto,
      brand-family: Helvetica,
      bold-weight: 800,
      medium-weight: 500,
      regular-weight: 300,
    ),
    density: (
      scale: 0,
    ),
  )
);
$angular-material-3-theme-light: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: theme-colors.$primary-palette,
      tertiary: theme-colors.$tertiary-palette,
    ),
    typography: (
      plain-family: Roboto,
      brand-family: Helvetica,
      bold-weight: 800,
      medium-weight: 500,
      regular-weight: 300,
    ),
    density: (
      scale: 0,
    ),
  )
);

:root {
  @include mat.all-component-themes($angular-material-3-theme-dark);
  @include m3-theme-typography.my-typography-hierarchy;
}

html, body { 
    height: 100%; 
    color-scheme: light dark;
}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
body {
  //background: var(--mat-sys-surface);
  //color: var(--mat-sys-on-surface);
}
.color-scheme-dark {
  @include mat.all-component-themes($angular-material-3-theme-dark);
}

.color-scheme-light {
  @include mat.all-component-themes($angular-material-3-theme-light);
}
/*

:root {
    @include mat.toolbar-overrides((
        container-background-color: grey,
        container-text-color: black,
        ));
        @include mat.sidenav-overrides((
            container-background-color: grey,
            container-text-color: black,
            ));
        }
        */