
@use '@angular/material' as mat;
@use "./styles/themes/theme-colors";
@use "./styles/theme-typography.scss" as m3-theme-typography;
@use 'bootstrap/scss/bootstrap-grid.scss';

@include mat.core();
//@import '@angular/material/prebuilt-themes/purple-green.css';
//@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
//@import '@angular/material/prebuilt-themes/indigo-pink.css';


$angular-material-3-theme-dark: mat.define-theme(
  (
    color: (
      theme-type: dark,
      primary: theme-colors.$primary-palette,
      tertiary: theme-colors.$tertiary-palette,
    ),
    typography: (
      use-system-variables: true
    ),
    density: (
      scale: 0,
    ),
  )
);
$angular-material-3-theme-light: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: theme-colors.$primary-palette,
      tertiary: theme-colors.$tertiary-palette,
    ),
    typography: (
      use-system-variables: true
    ),
    density: (
      scale: 0,
    ),
  ),
);

html, body { 
    height: 100%; 
}

body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
  @include mat.all-component-themes($angular-material-3-theme-light);
  @include mat.sidenav-overrides((
    content-background-color: transparent,
  ));
}

body {
  min-height: 1000px;
  background-image: url("./../public/fondo.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.color-scheme-dark {
  @include mat.all-component-colors($angular-material-3-theme-dark);
  @include mat.sidenav-overrides((
    content-background-color: transparent,
  ));
}

.color-scheme-light {
  //@include mat.theme($angular-material-3-theme-light);
 }

:root {
  @include mat.sidenav-overrides((
    content-background-color: transparent,
  ));
}

.transparent {
  @include mat.card-overrides((
    elevated-container-color: transparent,
  ));
}

.full-width {
  width: 100%;
}