
.mobile-header {
  position: fixed;
  z-index: 9999;
  display: flex;
  padding: 30px 250px;
  justify-content: center;
  align-items: center;
  gap: 83px;
  background-color: var(--BLACK, #1A1A1A);
}

.not-mobile-header {
  position: fixed;
  z-index: 9999;
  display: flex;
  padding: 30px 250px;
  justify-content: center;
  align-items: center;
  gap: 83px;
  height: 112px;
  background-color: var(--BLACK, #1A1A1A);
}

.inner-content {
  z-index: -1;
  position: relative;
  height: 1000px;
  background-color: black;
  top: 112px;
}

.insta {
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: block;
}

.logo {
  display: flex;
width: 194px;
height: 48px;
justify-content: center;
align-items: center;
}

.theme-toggle {
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-spacer {
  flex: 1 1 auto;
}

.talk-button {
  display: flex;
  min-width: 203px;
  height: 52px;
  padding: 0px 16px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  background: linear-gradient(82deg, #37B0EF 3.34%, #EC00ED 48.01%, #FEDF13 104.33%);

  color: var(--shades-white, #FFF);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px; /* 225% */
  letter-spacing: 1.25px;
  text-transform: uppercase;
}

.text1 {
  margin-top: 83px;
  height: 340px;
  align-self: stretch;
}

.text2 { 
  margin-top: 50px;
  height: 150px;
  align-self: stretch;
}

.start-project {
  margin-top: 50px;

  display: flex;
width: 447px;
height: 70px;
padding: 0px 16px;
justify-content: center;
align-items: center;
gap: 16px;
  background: linear-gradient(82deg, #37B0EF 3.34%, #EC00ED 48.01%, #FEDF13 104.33%);


  color: var(--shades-white, #FFF);
text-align: center;
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 36px; /* 180% */
letter-spacing: 1.25px;
text-transform: uppercase;
}