<div class="content">
  <mat-divider></mat-divider>
  <section>
    <h2>Menu</h2>

    <mat-list>
      @for (item of menuItems; track $index) {
        <mat-list-item>
          <h3 matListItemTitle>{{item.title}}</h3>
          <span matListItemLine>{{item.description}}</span>
        </mat-list-item>
      }
    </mat-list>
  </section>

  <section>
    <div class="example-button-row">
      <button mat-button color="primary">Agregar</button>
    </div>
  </section>
  <mat-divider></mat-divider>
</div>