
.menu-card {
  background-color: transparent;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
}

.fab-save {
  position: fixed;
  right: 1em;
  top: 70px;
  z-index: 1000;
}

.fab-undo {
  position: fixed;
  right: 1em;
  top: 170px;
  z-index: 1000;
}

.fab-label {
  width: 55px; /* pick a value wide enough for both labels */
  text-align: center;
  margin-top: 0.5em;
}