<div class="menu-container">
    <div class="row menu-header justify-content-center">
        <div class="col-3 text-center ">
            <h1>Menu</h1>
        </div>
        @if (canEdit) {
        <div class="d-flex col-1 text-center align-items-center">
            <button mat-icon-button color="primary" (click)="openAddCategoryDialog()" matTooltip="Agregar Categoria">
                <mat-icon style="transform: scale(2);">add</mat-icon>
            </button>
        </div>
        }
    </div>
    @if ((queue | async)?.length) {
        <div class="row justify-content-end">
            <div class="col-3 justify-content-center align-items-center ">
                <div class="fab-save">
                    <button mat-fab color="primary" class="" (click)="save()" matTooltip="Guardar">
                        <mat-icon style="transform: scale(2);">save</mat-icon>
                    </button>
                    <h3>Guardar</h3>
                </div>
            </div>
        </div>
    }
    <br />
    <div class="row menu-categories justify-content-center">
        <div class="col-lg-10 col-md-10 col-sm-12">
            <ng-container *ngIf="menuCategories.length > 0; else noCategories">
                <lib-menu-list [collapsableView]="collapsableView()" [menuCategories]="menuCategories" [canEdit]="canEdit"
                    (delete)="deleteCategory($event)" (edit)="editCategory($event)"></lib-menu-list>
            </ng-container>
        </div>
        <ng-template #noCategories>
            <p>...</p>
        </ng-template>
    </div>

</div>