<div class="menu-container">
    <div class="row menu-header justify-content-center">
        <div class="col-3 text-center ">
            <h1>Menu</h1>
        </div>
        @if (canEdit) {
            <div class="d-flex col-1 text-center align-items-center">
                <button mat-icon-button color="primary" (click)="openAddCategoryDialog()" matTooltip="Agregar Categoria">
                    <mat-icon style="transform: scale(2);">add</mat-icon>
                </button>
            </div>
        }
        <div class="row mb-2 mt-2">
            <div class="col-12 d-flex align-items-center justify-content-center small">
              <mat-slide-toggle [(ngModel)]="withCollapse" class="small">
                Collapse
              </mat-slide-toggle>
            </div>
          </div>
    </div>
    <br />
    <div class="row menu-categories justify-content-center">
        <div class="col-lg-10 col-md-10 col-sm-12">
            <ng-container *ngIf="menuCategories.length > 0; else noCategories">

                
                <ng-container *ngFor="let category of menuCategories; let i = index">
                    
                    <lib-menu-list [withCollapse]="withCollapse" [id]="category.id" [category]="category" [canEdit]="canEdit" (delete)="deleteCategory(i)"
                    (edit)="editCategory($event)"></lib-menu-list>
                </ng-container>
            </ng-container>
        </div>
        <ng-template #noCategories>
            <p>...</p>
        </ng-template>
    </div>

</div>