<div class="menu-container">
    <div class="row menu-header justify-content-center">
        <div class="col-3 text-center ">
            <h1>Menu</h1>
        </div>
        @if (canEdit) {
            <div class="d-flex col-1 text-center align-items-center">
                <button mat-icon-button color="primary" (click)="openAddCategoryDialog()" matTooltip="Agregar Categoria">
                    <mat-icon style="transform: scale(2);">add</mat-icon>
                </button>
            </div>
        }
    </div>
    <br />
    <div class="row menu-categories justify-content-center">
        <div class="col-lg-10 col-md-10 col-sm-12">
            <ng-container *ngIf="menu.length > 0; else noCategories">
                <ng-container *ngFor="let category of menu; let i = index">
                    <lib-menu-list [id]="category.id" [category]="category" [canEdit]="canEdit" (delete)="deleteCategory(i)"
                    (edit)="editCategory(i, $event)"></lib-menu-list>
                </ng-container>
            </ng-container>
        </div>
        <ng-template #noCategories>
            <p>...</p>
        </ng-template>
    </div>

</div>